<section id="about" itemscope itemtype="http://schema.org/AboutPage">

  <div class="inside">

    <h1 itemprop="headline">{{ meta.about.title }}</h1>

    <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      
      <a href="#lb-imgbig">
        <picture itemscope itemtype="http://schema.org/ImageObject">
          <source srcset="{{ meta.about.big_img.thumb }}.webp" type="image/webp">
          <img src="{{ meta.about.big_img.thumb }}.jpg" class="big" alt="{{ meta.about.big_img.caption }}">
        </picture>
        <br />
      </a>
      <a href="#_" class="lightbox" id="lb-imgbig">
        <picture itemscope itemtype="http://schema.org/ImageObject">
          <source srcset="{{ meta.about.big_img.image }}.webp" type="image/webp">
          <img src="{{ meta.about.big_img.image }}.jpg" alt="{{ meta.about.big_img.caption }}">
        </picture>
        <span class="close" href="#_"></span>
        <object><a class="next" href="#lb-imgs0"></a></object>
      </a>

      {% for id, elem in meta.about.more_img %}
      
        <a href="#lb-imgs{{ id }}">
          <picture itemscope itemtype="http://schema.org/ImageObject">
            <source srcset="{{ elem.thumb }}.webp" type="image/webp">
            <img src="{{ elem.thumb }}.jpg" class="small" alt="{{ elem.caption }}">
          </picture>
        </a>
        
        <a href="#_" class="lightbox" id="lb-imgs{{ id }}">
          {% if meta.about.more_img[id - 1] is defined %}<object><a class="prev" href="#lb-imgs{{ id - 1 }}"></a></object>{% else %}<object><a class="prev" href="#lb-imgbig"></a></object>{% endif %}
          <picture itemscope itemtype="http://schema.org/ImageObject">
            <source srcset="{{ elem.image }}.webp" type="image/webp">
            <img src="{{ elem.image }}.jpg" alt="{{ elem.caption }}">
          </picture>
          <span class="close" href="#_"></span>
          {% if meta.about.more_img[id + 1] is defined %}<object><a class="next" href="#lb-imgs{{ id + 1 }}"></a></object>{% endif %}
          <p class="caption">{{ elem.caption }}</p>
        </a>
      {% endfor %}
    </div>

    <div class="main-text">
      {% for paragraph in meta.about.text %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>

    <div class="clear"></div>
  
  </div>

</section>