<section id="about" itemscope itemtype="http://schema.org/AboutPage">

  <div class="inside">
    <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      
      <a href="#lb-imgbig">
        <img class="big" src="{{ meta.about.big_img }}" itemscope itemtype="http://schema.org/ImageObject"><br />
      </a>
      <a href="#_" class="lightbox" id="lb-imgbig">
        <img src="{{ meta.about.big_img }}" itemscope itemtype="http://schema.org/ImageObject">
      </a>

      {% for id, elem in meta.about.more_img %}
      
        <a href="#lb-imgs{{ id }}">
          <img class="small" src="{{ elem.thumb }}" itemscope itemtype="http://schema.org/ImageObject" />
        </a>
        
        <a href="#_" class="lightbox" id="lb-imgs{{ id }}">
          <img class="big" src="{{ elem.image }}" itemscope itemtype="http://schema.org/ImageObject">
          <p class="caption">{{ elem.caption }}</p>
        </a>
      {% endfor %}
    </div>

    <div class="main-text">
      <h1 itemprop="headline">{{ meta.about.title }}</h1>
      {% for paragraph in meta.about.text %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>

</section>