<section id="about" itemscope itemtype="http://schema.org/AboutPage">

  <div class="inside">
    <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      
      <a href="#img-big">
        <img class="big" src="{{ meta.about.big_img }}" itemscope itemtype="http://schema.org/ImageObject"><br />
      </a>
      <a href="#_" class="lightbox" id="img-big">
        <img src="{{ meta.about.big_img }}" itemscope itemtype="http://schema.org/ImageObject">
      </a>

      {% for id, image in meta.about.more_img %}
        
        <a href="#img-s{{ id }}">
          <img class="small" src="{{ image }}" itemscope itemtype="http://schema.org/ImageObject">
        </a>
        <a href="#_" class="lightbox" id="img-s{{ id }}">
          <img src="{{ image }}" itemscope itemtype="http://schema.org/ImageObject">
        </a>
      {% endfor %}
    </div>

    <div class="main-text">
      <h1 itemprop="headline">{{ meta.about.title }}</h1>
      {% for paragraph in meta.about.text %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>

</section>