<section id="deals" itemscope itemtype="http://scheme.org/WebPage">
  <div class="inside">
    <h1 itemprop="headline">{{ meta.deals.title }}</h1>

    <div class="deals-wrapper">
      {% for deal in meta.deals.items %}

        <div class="deal" itemscope itemtype="http://schema.org/Offer">
          <div class="icon-wrapper">
            <img class="icon" src="{{ deal.icon }}" alt="{{ deal.icon_alt }}">
          </div>
          <div class="reduced-by">{{ deal.reduced }}</div>
          <div class="description" itemprop="description">{{ deal.description }}</div>
        </div>

      {% endfor %}
    </div>

  </div>
</section>